<div class="container">
  <div class="row m-5 shadow p-3 d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-6 me-2" style="text-align: justify;">
      <h2>About Briks Cab</h2>
      <p>
        Briks Cab is a leading online cab booking platform committed to providing convenient and reliable transportation services.
        We connect passengers with professional drivers to ensure safe and comfortable journeys.
      </p>
      <p>
        Our mission is to offer seamless and efficient transportation solutions that cater to the needs of our customers.
        Whether you're commuting to work, heading to the airport, or exploring a new city, Briks Cab is here to make your ride enjoyable.
      </p>
    </div>
    <div class="col-md-4 d-none d-sm-block ">
      <img src="../../assets/images/car.jpg" alt="Car Image" class="img-fluid" style="height: 80%;">
    </div>
  </div>
</div>
