#navbarBgColor {
  background-color: beige;
}

div ul li a{
  padding: 6px;
}
div ul li a:hover {
  border-radius: 5px;
  background-color: black;
  border-bottom: 2px solid red;
  color: white;
  transition: all 0.3s ease;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid red;
  color: white;
}