<div class="container shadow-lg mt-4 p-5 d-flex justify-content-center align-items-center">
  <div style="width: max-content;">
    <div class="border-bottom text-center p-2">
      <h1>Happy Journey</h1>
      <span>From: <span class="ps-2">{{From}}</span></span><span class="p-2"></span><span>To: <span
          class="p-2">{{To}}</span></span>
    </div>
    <div class="text-start p-2">
      <h3>Driver Details</h3>
      <p class="m-0 ps-1">Vehicle Number: <span class="p-2">{{vechicleNumber}}</span> </p>
      <p class="m-0 ps-1">Vehicle Model: <span class="p-2"> {{vechicleModel}}</span></p>
      <p class="m-0 ps-1">Driver Rating: <span class="p-2">{{Rating}}</span></p>
      <p class="m-0 mb-3 ps-1">Fare:<span class="p-2 text-warning"> {{Fare}}</span></p>
      <div class="text-center">
        <button class="btn btn-warning fw-bold" routerLink=''>Go to Home</button>
      </div>
    </div>
  </div>
</div>