<div class="container">
  <div class="row text-center align-items-center">
    <div class="col-12 col-md-6">
      <h1 class="fw-bold">Travel with trust</h1>
      <p class="lead">Book affordable and comfortable rides now</p>
      <button type="button" class="btn btn-warning" routerLink="booking">Booking</button>
    </div>
    <div class="col-6 d-none d-md-block">
      <img src="https://www.goteso.com/products/assets/images/taxi-app-development-banner.png" alt="cab image" width="90%">
    </div>
  </div>
</div>